<div class="col-12">

  <div class="cntr txt-clr-white">
    <div class="container">
      <div class="logo-large">reservouz</div>
    </div>
    <br />
    <div class="subtitle">log in to your account</div>
  </div>
  <br /><br /><br />

  <div class="col-12 col-md-8 offset-md-2 booyah-box">
    <br />
    <div class="col-12 col-md-10 offset-md-1">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.label :email, "email address",  class: "input-label" %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "border-radius: 20px;", class: "field input-text", placeholder: "email address" %>
          <br /><br />
          <%= f.label :password, "password", class: "input-label" %><br/>
          <%= f.password_field :password, autocomplete: "new-password", style: "border-radius: 20px;", class: "field input-text", placeholder: "current-password" %>
          <br /><br />
        <div class="actions cntr">
          <%= f.submit 'log in', class: 'btn btn-primary', style: "width:100px;" %>
          <%= link_to 'cancel', root_path, class: 'btn btn-danger', style: "width:100px;" %>
        </div>
      <% end %>
    </div>
  </div>
</div>




