<nav class="navbar navbar-expand-md navbar-custom">
    <a class="navbar-brand" href="<%= root_path %>">reservouz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">about</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">make a reservation</a>
            </li>
        </ul>
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <% if current_user.venue_id %>
              <li class="nav-item"><%= link_to 'control panel', admin_venue_path(current_user.venue_id), class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to current_user.email, admin_venue_path(current_user.venue_id), class: 'nav-link' %></li>
            <% else %>
              <li class="nav-item"><%= link_to current_user.email, root_path, class: 'nav-link' %></li>
            <% end %>
            <li class="nav-item"><%= link_to 'logout', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
          <% else %>
            <li class="nav-item"><%= link_to 'login', new_user_session_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'register', new_user_registration_path, class: 'nav-link' %></li>
          <% end %>
        </ul>
    </div>
</nav>